<ion-content class="background">
  <ion-card >
    <ion-card-header>
      <ion-card-title  class="title text-style">انتخاب مجموعه</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="getFormIP" (ngSubmit)="checkIp()">
        <ion-item>
          <ion-label position="floating" class="text-style">مثال 4378</ion-label>
          <ion-input formControlName="codeIp" type="number"></ion-input>
        </ion-item>
        <ion-button  [disabled]="loading" type="submit" type="submit" class="button" fill="outline" expand="block" color="danger">
          <ion-spinner *ngIf="loading" ></ion-spinner>
          <span *ngIf="!loading">ارسال کد</span>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
