<ion-content class="background">
  <ion-card >
    <ion-card-header>
      <ion-card-title  class="title">انتخاب مجموعه</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">مثال 4378</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-button class="button" fill="outline" expand="block" color="danger">
          ارسال کد مجموعه
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
