.button{
  font-family: Elham;
  color: #2fdf75;
}
.title{
  font-family: Lalezar;
  --ion-text-color: #2fdf75;
}
.text-style{
  text-align: center;
}
ion-input{
  text-align: center;
}
.background{

  --background: repeating-linear-gradient(
                  -45deg,
                  hsl(215,30%,60%) 0%,  /* blau */
                  hsl(120,30%,90%) 15%, /* grün */
                  hsl(30,50%,90%) 30%,  /* rosa */
                  hsl(215,30%,60%) 45%  /* blau */
  );
}
card{
  margin-top: 5em;
}
form{
  width: 100%;
}
.item-input{
  background-color: #0d0d0d;
  opacity: 0.9;
  margin-left: 5px;
  margin-right: 5px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% ;
}
