html {
  height: 100%;
  background: linear-gradient(white, #4e4e4e, white);
  background-size: .1rem 400%;
  animation: bg 8s infinite;
}

body {
  height: 100%;
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 200%;
  }

  100% {
    background-position: 0 400%;
  }
}

ion-content{
  --background: url('/assets/back.jpg') no-repeat 100% 100%;
}
.ion-justify-content-end{
  display: flex;
}
.font-text{
  font-family: Lalezar;
}
h3{
  font-family: Elham;
}

.name-box{
  display:flex ;
  height: 2em;
  width: 100%;
  background-color: white;
  justify-content: center;
  font-size: x-large;
  font-family: Lalezar;
}
