<ion-header>
    <ion-toolbar class="no-bg">

        <ion-buttons slot="end">
            <ion-button (click)="back()" ><fa-icon [icon]="faSignInAlt"></fa-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">گزارش وضعیت پذیرش</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content class="background ion-padding">
    <ion-list>
        <ion-item>
            <ion-icon color="primary" slot="start" name="arrow-back-outline"></ion-icon>
            <ion-label>
                <h2>افراد در مجموعه</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{presentNumber}}نفر</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" slot="start" name="arrow-forward-outline"></ion-icon>
            <ion-label>
                <h2>افراد خارج شده</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{exitNumber}}نفر</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" slot="start" name="swap-horizontal-outline"></ion-icon>
            <ion-label>
                <h2>مجموع</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{all}}نفر</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar class="no-bg">
        <ion-button *ngIf="data.organization_unit && filterActive" (click)="filterAction()" fill="outline"
                    expand="block">
            اعمال فیلتر
        </ion-button>
        <ion-grid *ngIf="filterActive">
            <ion-row>
                <ion-col>
                    <div>
                        <ion-item dir="rtl">
                            <ion-label>از تاریخ</ion-label>
                            <ion-datetime value="1397-12-15T13:47:20.789" displayFormat="YYYY/MM/DD"
                                          [pickerOptions]="fromPickerOptions" pickerFormat="DDD MM YYYY"
                                          monthValues="1,2,3,4,5,6,7,8,9,10,11,12"
                                          [yearValues]="customYearValues"></ion-datetime>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-item dir="rtl">
                            <ion-label>تا تاریخ</ion-label>
                            <ion-datetime [value]="m" displayFormat="YYYY/MM/DD" pickerFormat="DDD MM YYYY"
                                          [pickerOptions]="untilPickerOptions" monthValues="1,2,3,4,5,6,7,8,9,10,11,12"
                                          [yearValues]="customYearValues"></ion-datetime>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item dir="rtl" (click)="selectPackage()">
                        <ion-label>
                            انتخاب مجموعه
                        </ion-label>
                        <ion-text>
                            {{unitName}}
                        </ion-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button color="primary" (click)="filter()" expand="block">
            فیلتر
        </ion-button>
    </ion-toolbar>
</ion-footer>
